{% for item in sudo_users %}
{{item.username}}_autofs -rw,soft,intr,rsize=8192,wsize=8192 172.25.250.11:{{nfs_host_path}}/{{item.username}}
{% endfor %}

{% for item in regular_users %}
{{item.username}}_autofs -rw,soft,intr,rsize=8192,wsize=8192 172.25.250.11:{{nfs_host_path}}/{{item.username}}
{% endfor %}
