{% for item in sudo_users %}
/home/{{item.username}}/Company_Share -fstype=nfs,rw,soft,intr,strict,rsize=8192,wsize=8192 172.25.250.11:{{nfs_host_path}}/users/{{item.username}}
{% endfor %}

{% for item in regular_users %}
/home/{{item.username}}/Company_Share -fstype=nfs,rw,soft,intr,strict,rsize=8192,wsize=8192 172.25.250.11:{{nfs_host_path}}/users/{{item.username}}
{% endfor %}
