<VirtualHost *:80>
    DocumentRoot {{ wordpress_document_root }}
    <Directory {{ wordpress_document_root }}>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog {{ wordpress_error_log }}
    CustomLog {{ wordpress_custom_log }} {{ wordpress_custom_log_type }}
</VirtualHost>